{% load static %}
{% include 'base.html' %}

{% block content %}
<div class="container mt-4">

    <!-- 왼쪽 이미지, 오른쪽 글 -->
    <div class="row mb-4">
        <div class="col-md-6">
            <img src="{% static 'img/방문요양_Proto.png' %}" alt="Left Image" class="img-fluid">
        </div>
        <div class="col-md-6" style = "font-size: 25px; font-weight: bold;">
            <p>♡ 방문요양<br><hr>
                1. 방문요양이란?<br><br>
                집에서 요양이 필요한 어르신을 위해 전문 요양사가 집으로 찾아와 일상 생활 지원, 기본적인 건강 관리, 간단한 재활 운동 등을 도와주는 서비스입니다.
                <br><hr>
                2. 어떤 장점이 있나요?<br><br>
                병원이나 요양원에 가지 않아도 집에서 전문 요양사의 도움을 받아 건강 관리와 일상 생활을 유지하실 수 있습니다.</p>
        </div>
    </div>
    <hr> <!-- 구분선 -->

    <!-- 왼쪽 글, 오른쪽 이미지 -->
    <div class="row mb-4">
        <div class="col-md-6" style = "font-size: 25px; font-weight: bold;">
            <p>♡ 방문목욕<hr>
                1. 방문목욕이란?<br><br>
                집에서 편안하게 목욕을 원하시는 어르신을 위해 전문가가 집으로 직접 찾아와 목욕 서비스를 제공하는 것입니다.
                <br><hr>
                2. 어떤 장점이 있나요?<br><br>
                집에서 나갈 필요 없이 안전하게 목욕을 즐기실 수 있습니다. 또한 전문가의 도움으로 안전하게 목욕을 마칠 수 있어요.</p>
        </div>
        <div class="col-md-6">
            <img src="{% static 'img/방문목욕_Proto.png' %}" alt="Right Image" class="img-fluid">
        </div>
    </div>
    <hr> <!-- 구분선 -->


    <!-- 버튼 -->
    <div class="text-center">
        <a href="{% url 'registration' %}" class="btn btn-primary" style = "font-size: 30px; background: green;">장기요양등급대리신청하러가기</a>
    </div>

    <footer class="mt-5 p-4 text-white bg-dark footer">
        <div class="container">
            <p>더사랑통합재가센터</p><br>
            <p>연락처: 032-681-8621 | 010-8013-1134</p><br>
            <p>찾아주셔서 감사합니다. 친절함과 전문성으로 보답하겟습니다.</p>
        </div>
    </footer>

</div>

{% endblock %}
